<div class="col-sm-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<p class="panel-title">Forgot Your Password, eh?</p>
		</div>
		<div class="panel-body">
			<form>
				<div class="form-group">
					<label for="resetEmail">Email</label>
					<input type="email"
						   class="form-control"
						   id="resetEmail"
						   placeholder="Email"
						   aria-label="email"
						   ng-model="rpc.credentials.email">
				</div>
				<button type="submit"
						class="btn btn-primary"
						aria-label="reset"
						ng-click="rpc.reset()">Reset</button>
				<a href="/login"
				   class="pull-right">Login</a>
			</form>
			<p class="user-error ng-cloak" ng-if="rpc.error">{{ rpc.error }}</p>
		</div>
	</div>
</div>